<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style type="text/css">
        table {
            background: #C0C0C0;
            color: #000000;
        }
        h4 {
            color: #808080;
        }
    </style>
</head>
<body style="font-family:Arial, Verdana, sans-serif">
    <table width="100%" cellspacing="0" cellpadding="4" border="0">
        <tr bgcolor="#F0F0F0">
            <td><h1>Миссия колонизации Марса</h1></td>
            <td><p>Mars One</p></td>
        </tr>
    </table>
    <h4>И на марсе будут яблони цвести!</h4>
    {% block body %}{% endblock %}
</body>
</html>